.editor {
  float: right;
  width: calc(100% - 250px);
  background-color: #0c151c;
}
.editor .search {
  background: url("../images/icon_add.png") left center / 35px 35px no-repeat;
}
.editor .header {
  position: fixed;
  width: 100%;
  height: 70px;
  padding: 20px;
  background-color: #0c151c;
}
.editor .deletePage {
  position: fixed;
  right: 20px;
  width: 35px;
  top: 15px;
  height: 35px;
  cursor: pointer;
  background: url("../images/icon_delete.png") center / cover;
}
.editor .deletePage:hover {
  background-color: #ffffff30;
  border-radius: 5px;
}
.editor .content {
  width: 50%;
  margin: auto;
  padding: 200px 0 200px 0;
}

[contenteditable="true"]:empty::before {
  content: attr(placeholder);
  color: #999;
}
[contenteditable="true"]:focus-visible {
  outline: none;
}
.checkListItem {
  display: flex;
  width: 100%;
}
.checkListItem div {
  margin-left: 5px;
  width: 100%;
}
hr.documentContent {
  border: 1px solid #fff !important;
}

.documentContent {
  margin-bottom: 3px;
}

#block-menu {
  position: absolute;
  background: #0c151c;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
#block-menu.hidden {
  display: none;
}
#block-menu div {
  padding: 8px 12px;
  cursor: pointer;
}
#block-menu div:hover {
  background: #ffffff30;
}
#block-menu div[disabled] {
  cursor: not-allowed;
  background: #263747;
  text-decoration: line-through;
}
.add-block-btn {
  cursor: pointer;
  position: absolute;
  right: 20%;
  width: 30px;
  height: 30px;
  background: url("../images/icon_add.png") center / cover;
}
.add-block-btn:hover {
  background-color: #ffffff30;
  border-radius: 5px;
}
