.editor {
    float: right;
    width: calc(100% - 250px);
    background-color: #0C151C;
}
.editor .header {
    position: fixed;
    width: 100%;
    height: 70px;
    padding: 20px;
    background-color: #0C151C;
}
.editor .deletePage {
    position: fixed;
    right: 20px;
    width: 35px;
    height: 35px;
    background: url("../images/icon_delete.png") center / cover;
}
.editor .deletePage:hover {
    background-color: #ffffff30;
    border-radius: 5px;
}
.editor .content {
    width: 50%;
    margin: auto;
    padding: 200px 0 200px 0;
}