.modalBg {
  z-index: 111;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff31;
}

.modal {
  width: 600px;
  height: 400px;
  position: absolute;
  background-color: #0c151c;
  z-index: 1;
  left: calc((100% - 600px) / 2);
  top: calc((100% - 400px) / 2);
  border-radius: 15px;
  padding: 20px 40px;
}

.modal .user,
.modal .theme {
  height: 50%;
}
.modal .user .userTitle,
.modal .theme .themeTitle {
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

.modal .user .userContents {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
}

.modal .user .userContents .profileImage {
  display: grid;
  justify-items: center;
  grid-gap: 8px;
}

.modal .user .userContents .profileImage img {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.modal .user .userContents .profileImage img:hover {
  background-color: #ffffff30;
}

.modal .user .userContents .profileImage button {
  color: #2383e2;
  cursor: pointer;
  font-size: 13px;
}

.modal .user .userContents .profileName {
  margin-left: 10px;
  margin-bottom: 25px;
}

.modal .user .userContents .profileName div {
  margin-bottom: 5px;
}

.modal .user .userContents .profileName input {
  padding: 4px 10px;
  background-color: #ffffff1c;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}

.modal .theme .themeContents {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}

.modal .theme .themeContents div {
  cursor: default;
}

.modal .theme .themeContents .subText {
  opacity: 40%;
}

.modal .theme .themeContents .themeList {
  list-style: none;
  padding-left: 0px;
  padding-right: 25px;
  background: url("../images/icon_arrow-down-bold.png") right center / 16px 16px
    no-repeat;
  cursor: pointer;
}

.sideBar {
/* position: fixed;
  width: 250px;
  height: 100%;
  background-color: #263747; */
  
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: #263747;
  display: flex;
  flex-direction: column; /* 세로 방향으로 배치 */
}

.sideBar .header {
  flex-shrink: 0;
  display: flex;
  padding: 15px;
  border-bottom: 1px solid;
  border-color: #0c151c;
  justify-content: space-between;
  align-items: center;
}

.sideBar .header .profile {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.sideBar .header .profile div {
  cursor: default;
}

.sideBar .header .picture {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  margin-right: 6px;
}

.sideBar .header .profile .description {
  opacity: 0.6;
  font-size: 12px;
}

.sideBar .header .setting {
  width: 24px;
  height: 24px;
  background: url("../images/icon_setting.png") right center / 24px 24px
    no-repeat;
  cursor: pointer;
}

.sideBar .search {
  flex-shrink: 0;
  background: url("../images/icon_search.png") left center / 24px 24px no-repeat;
  margin: 15px;
}

.sideBar .search input {
  background-color: transparent;
  border-style: none;
  margin-left: 29px;
  box-shadow: rgba(255, 255, 255, 0.075) 0px 0px 0px 1px inset;
  background: #ffffff1c;
  border-radius: 6px;
  padding: 4px 8px;
}

.sideBar .search ::placeholder {
  color: #fff;
}

.sideBar .documents {
  flex: 1; /* 나머지 공간을 모두 차지 */
  overflow: auto;
  padding: 15px;
  border-top: 1px solid;
  border-color: #0c151c;
}

/*** documents 스크롤바 설정 ***/
/* 스크롤바 설정*/
.sideBar .documents::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}
/* 스크롤바 막대 설정*/
.sideBar .documents::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
}
.sideBar .documents::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
}

.sideBar .documents ul {
  list-style: none;
  padding-left: 0px;
}

.sideBar .documents .sub {
  padding-left: 20px;
}

.sideBar .documents .document .title {
  background: url("../images/icon_docs.png") left center / 20px 20px no-repeat;
  /* url("../images/icon_add.png") right center / 20px 20px no-repeat; */
  display: flex;
  cursor: pointer;
  margin-bottom: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 5px 2px 5px 25px;
}

.sideBar .documents .document .title:hover {
  background-color: #ffffff30;
  border-radius: 5px;
}

.sideBar .documents .document .title img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.sideBar .footer {
  flex-shrink: 0;
  padding: 5px;
  width: 100%;
  border-top: 1px solid #0c151c;
}

.sideBar .footer .addPage {
  width: 100%;
  height: 30px;
  text-align: left;
  padding-left: 40px;
  background: url("../images/icon_add.png") left center / 30px 30px no-repeat;
  border: none;
}

.sideBar .footer .addPage:hover {
  background-color: #ffffff30;
  border-radius: 5px;
}

.sideBar .footer .info {
  float: right;
  width: 24px;
  height: 24px;
  background: url("../images/icon_help.png") center / cover;
  cursor: pointer;
}
.info div {
  position: relative;
  bottom: 45px;
  left: -5px;
  width: 280px;
  padding: 5px 14px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  background-color: #263747;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

.add-icon:hover {
  background-color: #ffffff30;
  border-radius: 5px;
}
