* {
    color: #FFFFFF;
    margin: 0;
    box-sizing: border-box;
}
.none {
    display: none;
}
.center {
    text-align: center;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0C151C;
}
.sideBar {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #263747;
}

.editor {
    float: right;
    width: calc(100% - 250px);
    background-color: #0C151C;
}
.editor .header {
    position: fixed;
    width: 100%;
    height: 70px;
    padding: 20px;
    background-color: #0C151C;
}
.editor .pageDelete {
    position: fixed;
    right: 20px;
    width: 35px;
    height: 35px;
    border: none;
    background: url("./images/icon_delete.png");
    background-size: cover;
}
.editor .content {
    width: 50%;
    margin: auto;
    padding: 200px 0 200px 0;
}